{% extends 'partial/base.html.twig' %}

{% block title %}Edit Customers{% endblock %}

{% block body %}
    <h1 class="d-inline-block">Edit Customers</h1>
    <a href="{{ path('admin_customers_index') }}" class="btn btn-primary float-right">back to list</a>

    {{ include('customers/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
