{% extends 'partial/base.html.twig' %}

{% block title %}New Restaurants{% endblock %}

{% block body %}
    <h1 class="d-inline-block">Create new Restaurants</h1>
    <a href="{{ path('admin_restaurants_index') }}" class="btn btn-primary float-right">back to list</a>

    {{ include('admin/restaurants/_form.html.twig') }}

{% endblock %}
